In [1]:
## Exercicio de LAB 06 Curso Banco de Dados - FATEC SJC

## Importando biblioteca Pandas
import pandas as pd

# Define o tipo para a coluna diagnosis
DTYPES = {'App': str}

## Importando arquivo salvo no github para analise
url = 'https://github.com/MaXximiles/LAB06/raw/main/Data/Ar%20india%20station_day.csv'

## Lendo os dados separados por virgula
wbc= pd.read_csv(url, sep=',', header=0, dtype = DTYPES)

## Exibindo primeiros 5 registros
wbc.head(25)

## Vendo informações da base de dados
wbc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108035 entries, 0 to 108034
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   StationId   108035 non-null  object
 1   Date        108035 non-null  object
 2   PM2.5       86410 non-null   float64
 3   PM10        65329 non-null   float64
 4   NO          90929 non-null   float64
 5   NO2         91488 non-null   float64
 6   NOx         92535 non-null   float64
 7   NH3         59930 non-null   float64
 8   CO          95037 non-null   float64
 9   SO2         82831 non-null   float64
 10  O3          82467 non-null   float64
 11  Benzene     76580 non-null   float64
 12  Toluene     69333 non-null   float64
 13  Xylene      22898 non-null   float64
 14  AQI         87025 non-null   float64
 15  AQI_Bucket  87025 non-null   object
dtypes: float64(13), object(3)
memory usage: 13.2+ MB

In [2]:
## Limpando Dados nulos
wbc.dropna(inplace=True)

## Exibindo primeiros 5 registros
wbc.head(5)

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
5,AP001,2017-11-29,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0,Moderate

In [3]:
## Discretização dos dados
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].replace("Severe",1)
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].replace("Very Poor",2)
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].replace("Poor",3)
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].replace("Moderate",4)
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].replace("Satisfactory",5)
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].replace("Good",6)

## Convertendo para float
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].astype("float")
wbc

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,4.0
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,4.0
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,4.0
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,4.0
5,AP001,2017-11-29,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106143,WB010,2020-02-10,80.93,174.84,82.96,56.74,139.70,29.32,1.18,9.36,15.96,53.71,51.38,1.30,179.0,4.0
106144,WB010,2020-02-11,103.75,217.89,139.58,63.28,181.55,27.56,1.71,11.43,24.75,53.58,55.10,2.29,226.0,3.0
106145,WB010,2020-02-12,115.40,225.76,193.19,70.41,213.77,35.25,2.11,10.49,22.11,58.61,61.42,3.20,259.0,3.0
106146,WB010,2020-02-13,97.37,179.87,105.12,64.34,169.46,36.24,1.51,6.90,12.55,64.90,62.12,2.16,250.0,3.0
106147,WB010,2020-02-14,89.13,179.89,78.47,56.37,134.84,37.98,1.30,8.13,23.21,69.67,66.15,2.42,223.0,3.0

In [4]:
## Variavel Alvo e Dados
y = wbc['AQI_Bucket']
x = wbc.drop(['AQI_Bucket', 'StationId', 'Date'], axis = 1) ## Armazenando tabela sem coluna Potability

x.head()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
1,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0
2,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0
3,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0
4,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0
5,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0

In [8]:
## Importando bilioteca para corte de dados e teste
from sklearn.model_selection import train_test_split

## Sintaxe train_test_split(Dados(planilha), coluna(alvo) test_size = porcentagem de dados para o teste)
## Divide em x teste e treino e y teste e treino
xTreino, xTeste, yTreino, yTeste = train_test_split(x,y,test_size = 0.5)

In [9]:
## Utilizando EXTRATREESCLASSIFIER arvore de decisão
from sklearn.ensemble import ExtraTreesClassifier

## Criação do modelo
modelo = ExtraTreesClassifier()
modelo.fit(xTreino,yTreino)

## Mostrando a acuracia
resultado = modelo.score(xTeste,yTeste)
print("Acuracia: ", resultado)

Acuracia:  0.9594725615668024

In [10]:
yTeste[100:110]

84017     4.0
84872     5.0
91430     4.0
105821    6.0
6252      1.0
5075      4.0
83847     5.0
87799     4.0
84990     4.0
432       4.0
Name: AQI_Bucket, dtype: float64

In [11]:
xTeste[100:110]

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
84017,45.06,114.01,1.35,19.96,11.71,17.48,0.43,6.51,36.67,0.08,2.11,0.03,108.0
84872,22.23,75.44,2.70,12.76,8.99,5.23,0.17,2.38,24.14,0.67,1.18,0.51,73.0
91430,75.90,153.03,14.26,76.58,52.32,15.88,1.00,5.42,37.17,2.09,11.36,1.32,153.0
105821,14.81,25.30,1.45,9.88,11.33,6.93,0.33,6.29,20.33,1.35,11.50,0.55,40.0
6252,366.12,549.73,16.65,87.92,60.32,56.92,1.95,21.55,43.78,2.29,24.44,3.15,602.0
5075,74.37,221.50,42.92,78.49,121.57,30.39,1.23,6.64,15.47,8.77,1.02,1.48,174.0
83847,48.36,77.59,1.06,16.19,9.46,10.89,0.34,8.62,32.50,0.06,0.86,0.00,94.0
87799,48.24,121.56,0.88,10.27,5.31,14.32,0.60,8.27,27.78,2.81,29.37,2.64,127.0
84990,60.39,146.61,2.85,49.83,28.82,11.99,0.52,15.81,78.91,4.48,14.14,3.27,132.0
432,47.81,99.22,5.98,65.34,39.69,17.61,1.02,26.84,36.53,0.03,0.08,0.15,111.0

In [12]:
## Fazendo a previsão
previsao = modelo.predict(xTeste[100:110])
previsao

array([4., 5., 4., 6., 1., 4., 5., 4., 4., 4.])