In [1]:
## Exercicio de LAB 06 Curso Banco de Dados - FATEC SJC

## Importando biblioteca Pandas
import pandas as pd

# Define o tipo para a coluna diagnosis
DTYPES = {'App': str}

## Importando arquivo salvo no github para analise
url = 'https://github.com/MaXximiles/LAB06/raw/main/Data/Ar%20india%20station_day.csv'

## Lendo os dados separados por virgula
wbc= pd.read_csv(url, sep=',', header=0, dtype = DTYPES)

## Exibindo primeiros 5 registros
wbc.head(25)

## Vendo informações da base de dados
wbc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108035 entries, 0 to 108034
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   StationId   108035 non-null  object
 1   Date        108035 non-null  object
 2   PM2.5       86410 non-null   float64
 3   PM10        65329 non-null   float64
 4   NO          90929 non-null   float64
 5   NO2         91488 non-null   float64
 6   NOx         92535 non-null   float64
 7   NH3         59930 non-null   float64
 8   CO          95037 non-null   float64
 9   SO2         82831 non-null   float64
 10  O3          82467 non-null   float64
 11  Benzene     76580 non-null   float64
 12  Toluene     69333 non-null   float64
 13  Xylene      22898 non-null   float64
 14  AQI         87025 non-null   float64
 15  AQI_Bucket  87025 non-null   object
dtypes: float64(13), object(3)
memory usage: 13.2+ MB

In [3]:
## Limpando Dados nulos
wbc.dropna(inplace=True)

## Exibindo primeiros 5 registros
wbc.head(5)

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
5,AP001,2017-11-29,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0,Moderate

In [4]:
## Discretizando os dados
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].replace("Severe",1)
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].replace("Very Poor",2)
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].replace("Poor",3)
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].replace("Moderate",4)
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].replace("Satisfactory",5)
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].replace("Good",6)

## Transformando em float
wbc['AQI_Bucket'] = wbc['AQI_Bucket'].astype("float")
wbc

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
1,AP001,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,4.0
2,AP001,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,4.0
3,AP001,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,4.0
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,4.0
5,AP001,2017-11-29,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106143,WB010,2020-02-10,80.93,174.84,82.96,56.74,139.70,29.32,1.18,9.36,15.96,53.71,51.38,1.30,179.0,4.0
106144,WB010,2020-02-11,103.75,217.89,139.58,63.28,181.55,27.56,1.71,11.43,24.75,53.58,55.10,2.29,226.0,3.0
106145,WB010,2020-02-12,115.40,225.76,193.19,70.41,213.77,35.25,2.11,10.49,22.11,58.61,61.42,3.20,259.0,3.0
106146,WB010,2020-02-13,97.37,179.87,105.12,64.34,169.46,36.24,1.51,6.90,12.55,64.90,62.12,2.16,250.0,3.0
106147,WB010,2020-02-14,89.13,179.89,78.47,56.37,134.84,37.98,1.30,8.13,23.21,69.67,66.15,2.42,223.0,3.0

In [5]:
## Variavel Alvo e Dados
y = wbc['AQI_Bucket']
x = wbc.drop(['AQI_Bucket', 'StationId', 'Date'], axis = 1) ## Armazenando tabela sem coluna Potability

x.head()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
1,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0
2,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0
3,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0
4,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0
5,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0

In [6]:
## Importando bilioteca para corte de dados e teste
from sklearn.model_selection import train_test_split

## Sintaxe train_test_split(Dados(planilha), coluna(alvo) test_size = porcentagem de dados para o teste)
## Divide em x teste e treino e y teste e treino
xTreino, xTeste, yTreino, yTeste = train_test_split(x,y,test_size = 0.5)

In [8]:
# Treina com 50%
from sklearn.neural_network import MLPClassifier

# Criando modelo tipo arvore de decisão
model = MLPClassifier(random_state=1, max_iter=2000)

# Treina o modelo
model.fit(xTreino, yTreino)

MLPClassifier(max_iter=2000, random_state=1)

In [9]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

# Predição
predicao = model.predict(xTeste)

# Matriz de confusão
print('Matriz de Confusão')
print(confusion_matrix(yTeste, predicao))

# Acurácia
acc = accuracy_score(yTeste, predicao)
print("Acurácia: {:.2f}".format(acc))

Matriz de Confusão
[[   9   29    3    1    0    0]
 [  10  170   28    0    0    0]
 [   1  104  166   30    0    0]
 [   2   14   88 1920  160    0]
 [   0    0    0   49 1808   18]
 [   0    0    0    0   73  474]]
Acurácia: 0.88